.paginator{
  width: 100%;
  float: left;
}

.pageBox{
  float: left;
  padding: 5px 10px;
  border: 1px solid #e8e9ea;
  margin-left: -1px;
}

.pageBox button{
  border: none;
  font-size: 13px;
  outline: none;
}

.activePage{
  background-color: #87b5ff;
  color: #fff;
  font-weight: bold;
}